form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input,
select {
  margin-top: 5px;
  outline: none;
  padding: 10px;
}

button {
  margin-top: 20px;
  padding: 10px;
}

span,
.error-message {
  color: red;
}

.has-error {
  border: 1px solid red;
}

.btn {
  border-radius: 8px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #00a8ff;
  border: none;
  color: #fff;
}

.btn-reset {
  background-color: #fff;
  border: 1px solid #00a8ff;
  color: #00a8ff;
}
